{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dripp</title>
    <!-- the below link is commented out in order render the item_detail.html page -->
    <link rel="stylesheet" href="{% static 'css/dripp.css' %}"/>
  </head>
  <body>
    <h1>Dripp</h1>
    <nav>
      <a href="{% url 'item_list' %}">Items</a>
      <div class="user-info">
        {% if user.is_authenticated %} Welcome, {{ user.username }}
        <a href="{% url 'logout' %}">Log out</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
      </div>
    </nav>
    {%block content%}
    {%endblock%} 
  </body>
</html>
